.wrapper {
  align-self: fit-content;
  padding: 0.25rem 1rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  white-space: nowrap;
}

.button {
  background-color: transparent;
}

.button:hover {
  background-color: var(--color-gray-600);
}

.icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.icon > path {
  stroke: white;
}
