@import 'tailwindcss';

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --color-burgundy-100: #f5dce0;
  --color-burgundy-200: #e5b7c0;
  --color-burgundy-300: #d48b9e;
  --color-burgundy-400: #c0617c;
  --color-burgundy-500: #a53d58;
  --color-burgundy-600: #800020;
  --color-burgundy-700: #6a001a;
  --color-burgundy-800: #540015;
  --color-burgundy-900: #3d000f;

  --color-hyundai-gold: #a36b4f;

  --color-white: #fff;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-black: #000;

  --color-blink: #ffa500;
  --animate-scale: scale 0.3s both;
  --animate-collapse-x: collapse-x 0.3s forwards both;
  --animate-swipe-bottom: swipe-bottom 0.3s forwards;
  --animate-swipe-bottom-hidden: swipe-bottom-hidden 0.3s forwards;
  --animate-blink-text: blink-text 3 1s both;
  --animate-blink-border: blink-border 3 1s both;
  --animate-blink-bg: blink-bg 3 1s both;

  @keyframes scale {
    from {
      transform: scale(100%);
    }
    to {
      transform: scale(110%);
    }
  }

  @keyframes collapse-x {
    from {
      transform: scaleX(0%);
    }
    to {
      transform: scaleY(100%);
    }
  }

  @keyframes swipe-bottom {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 100dvh, 0);
    }
  }

  @keyframes swipe-bottom-hidden {
    from {
      transform: translate3d(0, 100dvh, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes blink-text {
    0% {
      color: var(--color-blink);
    }
    50% {
      color: var(--color-white);
    }
    100% {
      color: var(--color-blink);
    }
  }

  @keyframes blink-border {
    0% {
      border: 1px solid var(--color-blink);
    }

    50% {
      border: 1px solid var(--color-white);
    }

    100% {
      border: 1px solid var(--color-blink);
    }
  }

  @keyframes blink-bg {
    0% {
      background-color: transparent;
    }

    50% {
      background-color: var(--color-blink);
    }

    100% {
      background-color: transparent;
    }
  }
}

@layer base {
  .logo > path {
    fill: var(--color-black);
    stroke: none;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  svg {
    cursor: pointer;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }
}

.header-border-b {
  @apply border-b-gray-200 dark:border-b-gray-600;
}

.header-wrapper {
  @apply sticky flex flex-col top-0;
}

.header {
  @apply m-auto w-full flex justify-between top-0 p-4 text-white border-b bg-white dark:bg-gray-900 dark:text-gray-200;
}

.icon {
  @apply w-6 h-6 stroke-2;
}

.icon-btn {
  @apply flex justify-center items-center p-1 rounded-4xl hover:bg-gray-200 dark:hover:bg-gray-800;
}

.navigator {
  @apply flex items-center gap-4 font-bold;
}

.btn-black {
  @apply bg-black text-white;
}

.btn-warning {
  @apply bg-red-600 text-white disabled:bg-red-400;
}

.btn-white {
  @apply bg-white text-black;
}

.error-border {
  @apply border-2 border-red-500;
}

.box-sm {
  @apply px-3 py-2.5;
}

.box-sm-wide {
  @apply px-4 py-2;
}

.mobile-hidden {
  @apply max-[480px]:hidden;
}

.mobile-visible {
  @apply min-[480px]:hidden;
}

.interact-gray-icon {
  @apply stroke-gray-800 dark:stroke-gray-600;
}

.hover-desc {
  @apply w-fit border bg-red-600;
}

.overlay {
  @apply z-9999 fixed top-0 left-0 bg-black w-full h-dvh opacity-50;
}

.screen-center {
  @apply top-[50dvh] left-[50vw] translate-x-[-50%] translate-y-[-50%];
}

.modal {
  @apply min-w-[20rem] max-w-sm p-4 flex flex-col flex-1 gap-4 dark:bg-gray-800;
}

#main {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-self: center;
  width: 100%;
  min-height: calc(100dvh - 4rem);
  padding: 1rem;
  transition: background-color 0.5s linear;
}

.pointer {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--color-gray-900);
  }

  #main {
    background: var(--color-gray-900);
    color: var(--color-gray-200);
  }

  .logo > path {
    fill: var(--color-gray-200);
    stroke: var(--color-gray-200);
  }
}
