.thumbnail {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.thumbnail > img {
  transition: transform 0.3s ease;
}

.thumbnail:hover > img {
  transform: scale(110%);
  transition: transform 0.3s ease;
}

.noThumbnail {
  color: var(--color-gray-600);
}

.noThumbnail > p {
  height: 2rem;
}

.icon {
  stroke: var(--color-gray-600);
}

@media (prefers-color-scheme: dark) {
  .thumbnail,
  .noThumbnail {
    background-color: var(--color-gray-800);
  }
}
