@tailwind components;

@layer components {
  .gnb {
    @apply fixed 
            flex 
            justify-between 
            items-center 
            px-4 
            w-full
          bg-burgundy-600
          text-white
            md:px-5
            h-[--gnb-h]
            md:h-[--gnb-h-md]
            md:text-xl
            z-[9000];
  }

  .navigator {
    @apply hidden
            gap-4
            md:flex;
  }

  .link > a {
    @apply text-base md:text-xl;
  }
}
