.wrapper {
  gap: 0.5rem;
  align-items: center;
  max-width: 768px;
  width: 100%;
}

.search {
  border: 2px solid var(--color-black);
  border-radius: 4px;
  padding: 0px;
  padding-right: 0.8rem;
  width: 100%;
}

.input {
  border: none;
  width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
  stroke: var(--color-black);
}

.btn {
  background: none;
}
